/* Fondo y fuente principal */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* La altura mínima será siempre igual al viewport */
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #ffffff; /* Color de texto por defecto */
    background-image: url("../img/fondo11.jpg"); /* Imagen de fondo */
    background-size: cover; /* Cubrir toda la pantalla */
    background-attachment: fixed; /* Fijar fondo al desplazarse */
    background-position: center; /* Centrar imagen */
    background-repeat: no-repeat; /* No repetir imagen */
}

/* Superposición oscura sobre la imagen de fondo */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Fondo negro translúcido */
    z-index: -1;
}

/* Contenedor principal */
.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Contenido principal */
.content {
    flex: 1;
    padding: 20px;
}

/* Navbar con transparencia parcial */
.navbar {
    background-color: rgba(20, 20, 20, 0.7); /* Fondo gris oscuro translúcido */
    padding: 10px 20px;
    border-bottom: 2px solid #150bcfa7; /* Borde inferior de color azul oscuro */
}

/* Links de navegación */
.navbar .nav-link {
    color: #EAEAEA !important; /* Gris claro para el texto */
    font-weight: bold;
    padding: 10px 15px;
    transition: color 0.3s;
    
}

.navbar .nav-link:hover {
    color: #0d4297 !important; /* Azul más claro en hover */
}

/* Marca (navbar-brand) */
.navbar-brand {
    color: #EAEAEA !important; /* Gris claro para el nombre de la marca */
    font-size: 1.5em;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar-brand:hover {
    color: #140d97 !important; /* Azul más oscuro al pasar el cursor */
}

/* Footer */
.footer {
    background-color: rgba(20, 20, 20, 0.7); /* Fondo gris oscuro translúcido */
    color: #EAEAEA;
    text-align: center;
    padding: 10px 20px;
    font-size: 0.9em;
    margin-top: auto; /* Empuja el footer hacia el fondo */
    position: relative;
    border-top: 2px solid #150bcfa7; /* Borde inferior de color azul oscuro */
}

.footer p {
    margin: 0;
}

/* Responsivo */
@media (max-width: 768px) {
    .navbar {
        padding: 15px;
    }

    .navbar-brand {
        font-size: 1.2em;
    }

    .nav-link {
        padding: 8px 12px;
        font-size: 0.9em;
    }

    .content {
        padding: 15px;
    }
}
