{% extends "musica_app/base.html" %}

{% block content %}

<div class="artista-edit">
    <div class="frosted-glass-form">
        <h1 class="text-center">Editar Artista</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary mr-2"><i class="fas fa-save"></i> Actualizar</button>
                <a href="{% url 'artista_index' %}" class="btn btn-secondary ml-2"><i class="fas fa-times"></i> Cancelar</a>
            </div>    
        </form>
    </div>
</div>

{% endblock %}


